# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^WebService/$   RestController.php?view=all [nc,qsa]
RewriteRule ^WebService/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]